<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      <container name="zidingyi">
        <extension type="Interception"/>
        <!--<register type="System.Data.Entity.DbContext, EntityFramework" mapTo="Zhaoxi.EF.Model.ZhaoxiDbContext,Zhaoxi.EF.Model"/>-->

        <register type="SPTextLK.Text.IText,SPTextLK" mapTo="SPTextLK.Text.Text,SPTextLK">
          <!--<interceptor type="InterfaceInterceptor"/>-->
        </register>

        <!--<register type="Ruanmou.Bussiness.Interface.IUserCompanyService,Ruanmou.Bussiness.Interface" mapTo="Ruanmou.Bussiness.Service.UserCompanyService, Ruanmou.Bussiness.Service">
        </register>-->
        <!--<register type="Zhaoxi.Business.Interface.IComapanyUserService,Zhaoxi.Business.Interface" mapTo="Zhaoxi.Business.Service.ComapanyUserService,Zhaoxi.Business.Service">
        </register>-->
      </container>
      <!--<container name="ContainerGeneric">
        <register type="System.Data.Entity.DbContext, EntityFramework" mapTo="Zhaoxi.EF.Models.ZhaoxiDbContext,Zhaoxi.EF.Models"/>
        <register type="Zhaoxi.Business.Interface.IGenericBaseService`1,Zhaoxi.Business.Interface" mapTo="Zhaoxi.Business.Service.GenericBaseService`1, Zhaoxi.Business.Service"/>
        <register type="Zhaoxi.Business.Interface.IGenericService,Zhaoxi.Business.Interface" mapTo="Zhaoxi.Business.Service.GenericUserService, Zhaoxi.Business.Service"/>
      </container>-->
    </containers> 
  </unity>
</configuration>