
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vue基础-02-axios+生命周期+计算属性</title>
    <script src="~/Content/lib/jquery/dist/jquery.js"></script>
    <script src="~/Content/lib/lib/vue/vue.min.js"></script>
</head>
<body>
    <div> 



    </div>
</body>
</html>
