<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>

			<!--启用调试模式，对错误行进行监控-->
			<aspNetCore processPath="dotnet" arguments=".\SPCoreText.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" >
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
				</environmentVariables>
			</aspNetCore>


		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: deb30772-0b1f-46ad-b5d5-f22241b15578-->