* {
    padding:0px;
    margin:0px;
}
body{
    height:5000px;
    background-image:url(../img/bg.png);
}
/*小图标*/
#d1{
    width:96px;
    height:96px;
    background-image:url(../img/top.gif);
    position:fixed;
    right:0px;
    bottom:0px;
    display:none;
}