<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=192.168.80.27;Initial Catalog=YZDB;User Id=APPS;Password=APPS;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>