
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>vue实例的属性和方法+自定义指令</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
