
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <video controls="" autoplay="" name="media"><source src="file:///D://Users/user/Desktop/NA115_Print_Tool/AAA.mp4" type="video/mp4"></video>
        @*<video src="d:\\Users\\user\\Desktop\\NA115_Print_Tool\\AAA.mp4" controls="controls"></video>*@



    </div>
</body>
</html>
