<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>组件的分类  全局组件、局部组件</title>
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="itapp">
        <my-hello></my-hello>
        <my-world></my-world>
    </div>

    <div id="itapp2">
        {{name}}
        <my-hello></my-hello>
        <!-- <my-world></my-world> -->
    </div>
    <script>
        //  全局组件 可以在所有的vue实例中使用
        Vue.component('my-hello',{
            template:'<h2>我是全局组件</h2>',
            data(){   //在组件中存储数据时，必须以函数形式，函数返回一个对象
                return {
                    name:'laney'
                }
            }
        });

        /**
		 * 局部组件，只能在当前vue实例中使用
		 */

        var vm=new Vue({ //这里的vm也是一个组件，称为根组件Root
			el:'#itapp',
			data:{
				msg:'软谋'
			},
            components:{
                'my-world':{
                    template:'<h2>世界， 你好 {{age}}</h2>',
                    data(){  
                        return {
                            age:'20'
                        }
                    }
                }
            }
		});	

        new Vue({ //这里的vm也是一个组件，称为根组件Root
			el:'#itapp2',
			data:{
				name:'tom'
			}
        })

    </script>
</body>
</html>