
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> 04过渡动画与组件以及传参</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
